

  h1 {
    text-align: center;
  }
  #map {
    width: 700px;
  }
    .container {
  width: 60%;
  margin: auto;
}
  body {
  background-color: white;
}
  p {
  font-family: Sazanami Mincho;
  font-size: 20px;

}
   .container {
  width: 100%;
  margin: 100px;
  

}

